<div class="container">

<div class="container">
  <div class="rulescolumns">
   <div class="headerrules">
    <h1>How to play</h1>
  </div>
  <div class="row">
    <div class="col-md-6">

      <h1>1) Make a prediction</h1>
    </div>
    <div class="col-md-6">
      <div class="icon1">
        <img class="img-responsive" src= <%= asset_path('howtoplayicon1.png') %> ></img>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <h1>2) Submit</h1>
    </div>
    <div class="col-md-6">
      <div class="icon2">
        <img class="img-responsive" src= <%= asset_path('howtoplayicon2.png') %> ></img>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <h1>3) Win Points</h1>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src= <%= asset_path('howtoplayicon3.png') %> ></img>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1>4) Win Prizes!</h1>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src= <%= asset_path('howtoplayicon4.png') %> ></img>
    </div>
  </div>

  <div class="gotit">
    <%= link_to "Got it", tournaments_latest_path, 
    :type => "button", :class => "btn btn-default" %>
  </div>
</div>
</div>

</div>