<div class="modal-body">

  <form>
    <div class="form-group">
      <p>{{input class="form-control" placeholder="username" value=username}}</p>
      <p>{{input class="form-control" placeholder="email" value=email}}</p>
      <p>{{input type="password" class="form-control" placeholder="password" value=password}}</p>
      <p>{{input type="password" class="form-control" placeholder="password confirmation"
                 value=password-confirmation}}</p>
      <p><button type="submit" class="btn btn-primary" {{action 'signup'}}>Sign up</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  {{! <a>Already part of the action?</a> }}
  <button type="button" class="btn btn-default" {{action 'goToLogin'}}>Login</button>
</div>
