<div class="col-md-4">
  <table class="responsive">

    <%= form_tag("/user_match_predictions",
        remote: user_signed_in?, method: "post", class: "form") do %>

      <table class="table" frame="box"> 

        <thead>
          <tr>
            <th class="Big" colspan="2">
              <%= match.receiving_contestant.contestant.name %>
            </th>
            <th colspan="2">VS</th>
            <th class="Big"colspan="2">
              <%= match.invited_contestant.contestant.name %>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>

              <% if context[:predictions] != nil &&
                context[:predictions].where(match: match) != [] && 
                context[:predictions].find_by(match: match).
                predicted_contestant == match.receiving_contestant %>

                <%= render '/matches/team_cell/active_dynamic',
                    t_contestant: match.receiving_contestant %>

              <% else %>

                <%= render '/matches/team_cell/not_active_dynamic',
                    t_contestant: match.receiving_contestant %>

              <% end %>

              <% if context[:predictions] != nil &&
                context[:predictions].where(match: match) != [] && 
                context[:predictions].find_by(match: match).
                predicted_contestant == match.invited_contestant %>

                <%= render '/matches/team_cell/active_dynamic',
                    t_contestant: match.invited_contestant %>

              <% else %>

                <%= render '/matches/team_cell/not_active_dynamic',
                    t_contestant: match.invited_contestant %>

              <% end %>

              <%= hidden_field_tag :predicted_contestant_id, 0 %>

          </tr>
        </tbody>
      </table>

      <%= hidden_field_tag :match_id, match.id %>
      <%= hidden_field_tag :prediction_type, 1 %>


      <% if context[:predictions] != nil && 
        context[:predictions].where(match: match) != [] %>

        <div class="submitmatch">
          <%= submit_tag 'UPDATE',
              class: "btn btn-default", disabled: true %>
        </div>
      <% else %>
        <div class="submitmatch">
          <%= submit_tag 'SUBMIT',
              class: "btn btn-default", disabled: true %>
        </div>
      <% end %>


    <% end %>

  </table>
</div>