<div class="space">
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
     <div class="ladder">
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Username</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>

        <%= will_paginate %>
          <% if @user_tournament_scores %>
            <% @user_tournament_scores.each_with_index do |uts, index| %>
              <tr>
                <% if request.params[:page] %>
                  <td> <%= (request.params[:page].to_i-1) * 30 + (index + 1) %> </td>
                <% else %>
                  <td> <%= index + 1 %> </td>
                <% end %>
                <td> <%= uts.user.username %> </td>
                <td> <%= uts.score %> </td>
              </tr>
            <% end %>
          <% end %>
        <%= will_paginate %>

      </tbody>
     </div>
    </table>
  </div>
</div>
