
<div class="container">
  <div class="Group_A">

    <% if @context[:group] == "1" %>
      <%= link_to "Group A", url_for(:group => 1), :type => "button",
          :class => "btn btn-default active" %>
    <% else %>
      <%= link_to "Group A", url_for(:group => 1), :type => "button",
          :class => "btn btn-default" %>
    <% end %>

    <% if @context[:group] == "2" %>
      <%= link_to "Group B", url_for(:group => 2), :type => "button",
          :class => "btn btn-default active" %>
    <% else %>
      <%= link_to "Group B", url_for(:group => 2), :type => "button",
          :class => "btn btn-default" %>
    <% end %>

    <% if @context[:group] == "3" %>
      <%= link_to "Group C", url_for(:group => 3), :type => "button",
          :class => "btn btn-default active" %>
    <% else %>
      <%= link_to "Group C", url_for(:group => 3), :type => "button",
          :class => "btn btn-default" %>
    <% end %>

    <% if @context[:group] == "4" %>
      <%= link_to "Group D", url_for(:group => 4), :type => "button",
          :class => "btn btn-default active" %>
    <% else %>
      <%= link_to "Group D", url_for(:group => 4), :type => "button",
          :class => "btn btn-default" %>
    <% end %>
  </div>
</div>


<div class="container">

  <% context[:matches].each_with_index do |match, index| %>

    <% if index.modulo(3) == 0 %>

      <div class="matches-line">
        <div class="row">

            <%= render 'lwc_stage_round_match_open', 
                match: match, new_prediction: context[:new_prediction] %>

            <% if index < context[:matches].count-1 %>

              <%= render 'lwc_stage_round_match_open',
                  match: context[:matches][index+1], new_prediction: context[:new_prediction] %>

            <% end %>

            <% if index < context[:matches].count-2 %>

              <%= render 'lwc_stage_round_match_open',
                  match: context[:matches][index+2], new_prediction: context[:new_prediction] %>

            <% end %>

        </div>
      </div>
     <% end %>

  <% end %>

</div>
