<div class="col-md-5">
  <table class="responsive">
    <table class="table" frame="box"> 

      <thead>
        <tr>
          <th class="Big" colspan="2">
            <%= match.receiving_contestant.contestant.name %>
          </th>
          <th colspan="2">VS</th>
          <th class="Big"colspan="2">
            <%= match.invited_contestant.contestant.name %>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <%= form_tag("/user_match_predictions", method: "post") do %>
            <%= hidden_field_tag(:match_id, match.id) %>
            <%= hidden_field_tag(:prediction_type, 1) %>
            <%= hidden_field_tag(:predicted_contestant_id,
                match.receiving_contestant_id) %>
            <th class="Logo" colspan="3">
            <%= image_submit_tag match.receiving_contestant.contestant.logo,
                class: "img-responsive", type: "image" %>
            </th>
          <% end %>

          <%= form_tag("/user_match_predictions", method: "post") do %>
            <%= hidden_field_tag(:match_id, match.id) %>
            <%= hidden_field_tag(:prediction_type, 1) %>
            <%= hidden_field_tag(:predicted_contestant_id,
                match.invited_contestant_id) %>
            <th class="Logo" colspan="3">
            <%= image_submit_tag match.invited_contestant.contestant.logo,
                class: "img-responsive", type: "image" %>
            </th>
          <% end %>
        </tr>
      </tbody>
    </table>
  </table>
</div>

<div class="col-md-5">
  <table class="responsive">
    <table class="table" frame="box"> 

      <thead>
        <tr>
          <th class="Big" colspan="2">Edward Gaming</th>
          <th colspan="2">VS</th>
          <th class="Big"colspan="2">Samsung White</th>
        </tr>
      </thead>

      <tbody>
        <tr>

          <th class="Logo active"colspan="3"><a href="#"><img class="img-responsive" src="group_a/edward_gaming_logo.png";></a>
          </th>
          <th class="Logo" colspan="3"><a href="#"><img class="img-responsive" src="group_a/samsung_white_logo.png"></a>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="submitmatch">
      <a class="btn btn-default">SUBMIT</a>
     
   </div>
  </table>
</div>

<div class="col-md-4">
  <table class="responsive">
    <table class="table" frame="box"> 

      <thead>
        <tr>
          <th class="Big" colspan="2">
            <%= match.receiving_contestant.contestant.name %>
          </th>
          <th colspan="2">VS</th>
          <th class="Big"colspan="2">
            <%= match.invited_contestant.contestant.name %>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <% if user_signed_in? %>
            <%= form_tag("/user_match_predictions", remote: true, method: "post") do %>
              <%= hidden_field_tag(:match_id, match.id) %>
              <%= hidden_field_tag(:prediction_type, 1) %>
              <%= hidden_field_tag(:predicted_contestant_id,
                  match.receiving_contestant_id) %>
              <th class="Logo" colspan="3">
              <%= image_submit_tag match.receiving_contestant.contestant.logo,
                  class: "img-responsive", type: "image" %>
              </th>
            <% end %>
          <% else %>
            <%= form_tag("/user_match_predictions", method: "post") do %>
              <%= hidden_field_tag(:match_id, match.id) %>
              <%= hidden_field_tag(:prediction_type, 1) %>
              <%= hidden_field_tag(:predicted_contestant_id,
                  match.receiving_contestant_id) %>
              <th class="Logo" colspan="3">
              <%= image_submit_tag match.receiving_contestant.contestant.logo,
                  class: "img-responsive", type: "image" %>
              </th>
            <% end %>
          <% end %>


          <%= form_tag("/user_match_predictions", remote: true, method: "post") do %>
            <%= hidden_field_tag(:match_id, match.id) %>
            <%= hidden_field_tag(:prediction_type, 1) %>
            <%= hidden_field_tag(:predicted_contestant_id,
                match.invited_contestant_id) %>
            <th class="Logo" colspan="3">
            <%= image_submit_tag match.invited_contestant.contestant.logo,
                class: "img-responsive", type: "image" %>
            </th>
          <% end %>
        </tr>
      </tbody>
    </table>
  </table>
</div>