<header>

  <div class = "navbar navbar-inverse navbar-fixed-top">
    <div class = "container" img="img-responsive">
       
      <a href = "/" class = "navbar-brand">
        <img class="logo" src= <%= asset_path('igotdis_logo.png') %> ></img>
      </a>
           
      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
      </button>
           
      <div class = "collapse navbar-collapse navHeaderCollapse">
          <ul class = "nav navbar-nav navbar-right">

              <% if (request.original_url.include? "tournament") &&
                 user_signed_in? %>

                <li><p class="mypoints"> 
                  <%= current_user.username %> :
                  <%= get_user_tournament_score(current_user,
                      request.params[:tournament_id]) %> pts</p>
                </li>

              <% end %>

              <li><%= link_to "Rules", rules_path %></li>
              <% if !user_signed_in? %>
                <li><%= link_to "Login", new_user_session_path %></li>
                <li><%= link_to "Signup", new_user_registration_path %></li>
              <% else %>
                <li><%= link_to "Logout", 
                  destroy_user_session_path, method: :delete %>
                </li>
              <% end %>
          </ul>
      </div>
    </div>
  </div>

</header>