<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>iGotDis - <%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/ico" href="assets/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
    <%= render 'layouts/shim' %>
  </head>
  <body background="/assets/background_splash_page.jpg">
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>